spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:mysql://localhost:3306/identity
    username: root
    password: 271201
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      auto-commit: true
      transaction-isolation: TRANSACTION_READ_COMMITTED
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      timeout: 2000
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8085
  session:
    redis:
      namespace: spring:session:idp
  mail:
    host: smtp.gmail.com
    port: 587
    username: phamkhiemhust2001@gmail.com
    password: ${GOOGLE_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web.authentication: TRACE
    org.springframework.security.oauth2: DEBUG
    org.springframework.web: DEBUG
server:
  port: 8085
  forward-headers-strategy: FRAMEWORK
  servlet:
    session:
      cookie:
        name: IDP_SESSION
        max-age: 30d

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: true
    instance-id: ${eureka.instance.hostname}:${server.port}
management:
  health:
    circuitbreakers:
      enabled: true
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
resilience4j:
  circuitbreaker:
    instances:
      paymentService:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
application:
  config:
    payment-url: http://localhost:8090
    search-url: http://localhost:8087