version: '3.7'
services:
#  mysql:
#    image: phamkhiem/ecobazar:mysql-v1.0
#    container_name: 'mysql'
#    ports:
#      - '3307:3306'
#    environment:
#      - 'MYSQL_DATABASE=keycloak'
#      - 'MYSQL_USER=keycloak'
#      - 'MYSQL_PASSWORD=password'
#      - 'MYSQL_ROOT_PASSWORD=root_password'
#    healthcheck:
#      test: 'mysqladmin ping -u root -p$${MYSQL_ROOT_PASSWORD}'
#  keycloak:
#    image: phamkhiem/ecobazar:keycloak-v1.0
#    container_name: 'keycloak'
#    environment:
#      - 'KEYCLOAK_ADMIN=admin'
#      - 'KEYCLOAK_ADMIN_PASSWORD=admin'
#      - 'KC_DB=mysql'
#      - 'KC_DB_URL_HOST=mysql'
#      - 'KC_DB_URL_DATABASE=keycloak'
#      - 'KC_DB_USERNAME=keycloak'
#      - 'KC_DB_PASSWORD=password'
#      - 'KC_HEALTH_ENABLED=true'
#    ports:
#      - '8086:8080'
#    command: 'start-dev'
#    depends_on:
#      - 'mysql'
#    healthcheck:
#      test: [ "CMD", "sh", "-c", "[ -z \"$(echo \"\" > /dev/tcp/localhost/9081)\" ] || exit 1" ]
  zookeeper:
    image: phamkhiem/ecobazar:zookeeper
    restart: always
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
    networks:
      - kafka-network
  kafka:
    image: phamkhiem/ecobazar:kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_LISTENERS: INTERNAL://:9093,EXTERNAL://:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_BROKER_ID: 1
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9093,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LOG_DIRS: /tmp/kafka-logs
    depends_on:
      - zookeeper
    networks:
      - kafka-network
networks:
  kafka-network:
    driver: bridge