<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/public-master}">
<head>
    <title>Login</title>
</head>
<body>

<section layout:fragment="content" class="card shadow-sm p-4">
    <h3 class="mb-3 text-center">Login</h3>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" name="username">
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password">
        </div>

        <button class="btn btn-primary w-100">Sign in</button>
    </form>

    <div class="text-center mt-3">
        <a th:href="@{/register}">Create account</a>
    </div>
</section>

</body>
</html>
