spring:
  application:
   name: product-service
<<<<<<< HEAD
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  data:
    mongodb:
      uri: mongodb://localhost:27017/ecommerce
=======
  data:
    mongodb:
      host: localhost
      port: 27017
      database: ecommerce
>>>>>>> f4c53d4c7e1e88145e85d67db2d6d92b05d46a59
server:
  port: 8083
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost
    prefer-ip-address: true
    instance-id: ${eureka.instance.hostname}:${server.port}
