body {
    font-family: var(--font-primary);
    color: var(--c-black);
    background-color: var(--c-white);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    font-weight: var(--fw-bold);
    line-height: 1.1;
    letter-spacing: -0.02em;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    color: var(--c-gray-500);
}

a {
    color: var(--c-black);
    text-decoration: underline;
    text-underline-offset: 2px;
}
